
<div class="container" style="width: 100%;">
  <h2>Le logement</h2>
  <div class="col-sm-12">
      <p>
      Vous trouverez le meilleur du meilleur sur le Web, mais pour vous guider dans vos recherches
      voici une liste d'hotels et de lieux proches de la garden party
      </p>
      <br/>
  </div>

  <h3>Les Hotels</h3>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_minvielle.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Chez Minvielle - Residence Les Oliviers</h3>
      <p>
      Les Oliviers est situé dans le village de Segos, près de Verlus.
      Il propose une piscine extérieure et une connexion Wi-Fi gratuite.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_aydie.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Le relais d'Aydie</h3>
      <p>
      Au sommet d'une colline avec une vue splendide sur le vignoble de Madiran,
       l'hotel est resté dans son jus mais offre un rapport qualité/prix difficile à égaler.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_pressoir.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Le pressoir</h3>
      <p>
      Situé à Aydie, à 37 km de Pau, Le Pressoir dispose d'une piscine extérieure ouverte en saison et d'une terrasse bien exposée.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href="http://www.auvieuxpressoir.com/"><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <h3>Les Gites</h3>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_verlus.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte Ma tour d'ivoire</h3>
      <p>
      Situé à Verlus, ce gite, tenu par des belges, offre une vue Pyrénées par temps clair.
      IL dispose de trois chambres spacieuses avec leur salle de bain /douche et toilettes privatives.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_couvent.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte le couvent</h3>
      <p>
      Situé à Viella, dans une grande maison bourgeoise ayant abrité une école tenue par des religieuses.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_chateau_eau.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte chateau d'eau</h3>
      <p>
      Maison en pierre mitoyenne à l'habitation des propriétaires,
      avec terrasse donnant sur un jardin commun clos et une piscine au sel commune et clôturée.
      Accès à l'arrière par une cour privative.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>

  <h3>Google vous proposera plusieurs autres hotels disponibles</h3>
  <p>Pour être proche de l'evenement cherchez des gîtes et des hôtels dans les villages suivants</p>
  <ul>
    <li class="col-sm-6">Verlus</li>
    <li class="col-sm-6">Viella</li>
    <li class="col-sm-6">Portet</li>
    <li class="col-sm-6">Aydie</li>
    <li class="col-sm-6">Aire sur Adour</li>
    <li class="col-sm-6">Madiran</li>
    <li class="col-sm-6">Maubourguet</li>
    <li class="col-sm-6">Riscle</li>
    <li class="col-sm-6">Projan</li>
    <li class="col-sm-6">...</li>
  </ul>

</div>
