
<div class="container" style="width: 100%;">
  <h2>Le logement</h2>
  <div class="col-sm-12">
      <p>
      Vous trouverez le meilleur du meilleurs sur le Web, mais pour vous guider dans vos recherches
      vous trouverez ci-après une liste d'hotels et de lieux proche de la garden party
      </p>
      <br/>
  </div>

  <h3>Les Hotels</h3>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_minvielle.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Chez menvielle</h3>
      <p>
      hotel avec piscine
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_aydie.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Le relay d'Aydie</h3>
      <p>
      hotel le plus proche
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/hotel_pressoir.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Le pressoir</h3>
      <p>
      hotel avec piscine
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <h3>Les Gites</h3>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_verlus.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte Ma tour d'ivoire</h3>
      <p>
      Vue Pyrénées par temps clair. Elle dispose de trois chambres
       spacieuses avec leur salle de bain /douche et toilettes privatives.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_couvent.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte le couvent</h3>
      <p>
      Grande maison bourgeoise ayant abrité une école tenue par des religieuses
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <div class="product">
    <img src= <%= image_path "img_hotel/gite_chateau_eau.jpg" %> alt="Hotel" class="product-image hidden-xs" width="30%">
    <div class="product-body">
      <h3>Gîte chateau d'eau</h3>
      <p>
      Maison en pierre (100 m2 - rdc + étage) mitoyenne à l'habitation des propriétaires,
      avec terrasse donnant sur un jardin commun clos et une piscine au sel commune et clôturée.
      Accès à l'arrière par une cour privative.
      </p>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>

  <h3>Google vous proposerons plusieurs autres hotels disponibles</h3>
  <p>Pour être proche de l'evenement cherchez des gîtes et des hôtels dans les villages suivants</p>
  <ul>
    <li class="col-sm-6">Verlus</li>
    <li class="col-sm-6">Viella</li>
    <li class="col-sm-6">Portet</li>
    <li class="col-sm-6">Aydie</li>
    <li class="col-sm-6">Aurensan</li>
    <li class="col-sm-6">projan</li>
    <li class="col-sm-6">...</li>
  </ul>
</div>
